# Include local configurations
Include ~/.config/ssh/config.local

# Global SSH settings
Host *
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519

# Example GitHub configuration
Host github.com
    User desaianand1
    HostName github.com
    PreferredAuthentications publickey

# Add other host-specific configurations here
